## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [90]:
a=1350
print(a)

1350

2) Imprimir el tipo de dato de la constante 8.5

In [91]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [93]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [ ]:
nombre= 'Luis'

5) Crear una variable que contenga un número complejo

In [15]:
complejo=45+5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [19]:
type(complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [96]:
pi= 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [100]:
j='True'
k=True # No, la variable j es un string y la variable k es un boolean...

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [101]:
print(type(j))
print(type(k))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [88]:
i=25+3,5
print(i)

(28, 5)

11) Realizar una operación de suma de números complejos

In [105]:
l= 5 + 5j
ll=8 + 6j
l+ll

(13+11j)

12) Realizar una operación de suma de un número real y otro complejo

In [110]:
m= 45 + ll
print(m)

(53+6j)

13) Realizar una operación de multiplicación

In [89]:
4*6

24

14) Mostrar el resultado de elevar 2 a la octava potencia

In [72]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [77]:
e=27/4
print(e)

6.75

16) De la división anterior solamente mostrar la parte entera

In [80]:
27//4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [81]:
27%4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [82]:
4 * 6 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [112]:
f= 'Asado con '
g= 'ensalada'
f+g

'Asado con ensalada'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [84]:
"2"==2 # false, porque "2" es string y 2 es un int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [113]:
n='2'
n=int(n)
type(n)

int

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
#porque '3.8' es un string, no es un float...

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [86]:
h=3
h-=1
print(h)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [114]:
1<<2

4

Arrancamos que el numero 1 se representa con 0001 en numeración binaria. La operación 1<<2 significa que desplazo dos posiciones el numero 1hacia la izquierda, resultando 0100 en binario, equivalente al 4 en el sistema decimal.-


El sistema de numeración binario es un sistama numérico que utiliza dos digitos: 0 y 1. Significando 1 encendido y 0 apagado, al combinarlos se puede representar números y realizar operaciones con ellos

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [87]:
2+'2'#unsupported operand type(s) for +: 'int' and 'str'; Si serian del mismo tipo no habria problemas

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [116]:
o= "Viva la vida! ja jaaa  "
p=4
print(o * p)

Viva la vida! ja jaaa  Viva la vida! ja jaaa  Viva la vida! ja jaaa  Viva la vida! ja jaaa